
body {
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    background: rgb(15, 3, 20);
}

#name {
    text-align: center;
    color: white;
    margin-top: 4%;
}

#calc {
    margin: auto;
    margin-top: 3%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 5em #080505;
}

header {
    padding: 20px;
    background: linear-gradient(to right,rgb(3,214,37), rgb(6,29,87));
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: right;
}

header #detail {
    font-size: 1em;
}

header #result {
    font-size: 2em;
}

header span {
    margin-left: .5em;
    float: left;
}

main {
    height: 100%;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: auto;
}

main button {
    font-size: 1.2em;
    font-family: "Montserrat";
    float: left;
    width: 25%;
    border: 0;
    padding: 1em;
    cursor: pointer;
    background: white;
}

main button:hover {
    background: linear-gradient(to right,rgb(3,214,37), rgb(6,29,87));
    color: white;
}

main button:focus {
    outline: none;
}

main button:active {
    box-shadow: 0 0 10px #cdcdcd;
}

@media only screen and (max-width: 768px) {
    #name {
        font-size: 14px;
    }
    #calc {
      width: 80%;
    }
  }